@import "abstracts/variables";

.container-fluid {
    padding-left: 80px;
    padding-right: 80px;

    @media (max-width: 1014px) {
        padding-left: 34px;
        padding-right: 34px;
    }
    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.products-widget {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}

.offer-bg-image {
    background-image: url("/images/offer.webp");

    @media (max-width: 890px) {
     background-size: cover;
     background-position: center;
     
    }
}

